<h2 id="MAIN_HEAD">Site news:</h2>
<div class="post">
  <div class="avatar bubble">
    <%= image_tag("link.png", :width => "100px") %>
    <div class="username">
      kernage
    </div>
  </div>
  
  <div class="text bubble">
    This is a post. Check it.
  </div>
</div>

